body, html {
	height: 100%;
	margin: 0;
	font-family: "Inter", sans-serif;
}
ol { /* I'm not sure why it didn't apply in body. */
	font-family: "Inter", sans-serif;
	font-weight: lighter;
}
h1 {
	font-weight: bolder;
}
p {
	font-weight: lighter;
}

/* Styling for the "landing page" */
.top-image {
	/* For making the image cover the whole screen */
	margin: 0; /* image should be across the entire webpage */
  	height: 100%;
  	background-image: url("avocado-cover-page.jpg"); /* local file */
  	background-position: center;
  	background-repeat: no-repeat; /* no tiny images repeating */
	background-size: cover; /* adapts somewhat to the window, doesn't distort */
}
.title-text {
	color: white;
	text-align: center;
	display: flex; /* flex display makes it easy to center the title */
	justify-content: center;
	height: 80%; /* so it uses the entire height of the webpage to center */
	align-items: center;
}
.title-text h1 {
	font-size: 13vw; /* responsive: if there is a way to create a max size, I'd do it */
}
.learn-more {
	height: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.learn-more a {
	color: white;
	font-size: 200%;
	font-weight: lighter;
}
.discover-recipes {
	height: 19%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.discover-recipes a {
	color: white;
	font-size: 200%;
	font-weight: lighter;
}

/* Styling for the colored dots */
.gdot {
	color: #88cc00;
}
.ydot {
	color: #b3af24;
}
.gldot {
	color: #aae238;
}
.yldot {
	color: #e0db2d;
}

/* Styling for the information cards */
.info-card {
	height: 350px;
	padding: 30px;
	color: white;
}
.recipe-card {
	height: 500px;
	padding: 30px;
	color: white;
}
.info-image {
	height: 350px;
}
.info-image img {
	object-fit: cover;
	height: 350px;
 }
 .recipe-image img {
	object-fit: cover;
	height: 500px;
 }
 .row {
	margin-bottom: 20px;
 }
 .link-button, .source-button {
	font-size: large;
	font-weight: lighter;
	padding: 10px;
	background-color: olivedrab;
	color: white;
 }
 .link-button:hover, .source-button:hover {
	color: white;
	background-color: #83ad2b;
 }
 .link-button {
	position: absolute;
	bottom: 30px;
 }
 /* Responsive sizing for recipe cards */
 /* I'm using this because I want them to always be the same height, so I can't
	set the height of the cards to however tall the content is because the 
	content of each card is different. I've resized a ton, and this seemed like
	the best working solution -- there isn't a ton of empty space on bigger 
	windows, and smaller windows have enough space for all the content.
 */
 @media (min-width: 576px) { /* >=576px is small in Bootstrap 4 grid */
	.recipe-card {
		height: 400px; /* when not on a mobile/skinny screen, it doesn't need to be as tall. */
	}
	.recipe-image img {
		height: 400px;
	}
 }
 @media (max-width: 575px) { /* for mobile viewing */
	 .recipe-card { 
		 height: 500px; /* more height to accomodate text */
	 }
	 .recipe-image img {
		 height: 500px;
	 }
 }